#homepagecont{
    /* border-top: 1px solid black; */
    display:flex;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
#homepagecont::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
#chatscont{
    border-right: 1px solid lightgrey;
    width:30vw;
    max-height: 100vh;
    overflow: auto;
    -ms-overflow-style: none;  
     scrollbar-width: none;  
}
#chatscontoff{
    border-right: 1px solid lightgrey;
    width:30vw;
    max-height: 100vh;
    overflow: auto;
    -ms-overflow-style: none;  
     scrollbar-width: none;  
}

#chatscont::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

#chatsheader{
    text-align: center;
}
#linkcont{
    /* border:1px solid yellow; */
    background-color: white;
    display:flex;
    justify-content: center;
}
#profilelink{
    /* border:1px solid green; */

    text-decoration: none;
    color:black;
    font-size: 16px;
    display:flex;
    align-items: center;
    margin-right:100px;
    
}
#backbutton{
    /* border:1px solid blue; */
    /* text-align: center; */
    display: none;
    align-items: center;
    color:black;
}
#linkname{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
    margin-left:-15px;
}
#linkusername{
    margin-top:-10px;
    font-size: 12px;
    color:rgb(99, 99, 99);
}
#nochatopen{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}
.messagescont{
    /* border:1px solid black; */
    display:flex;
    flex-direction: column-reverse;
    background-color: rgb(117, 152, 241);
    height:91.3vh;
    width: 100%;
}
.messagescontprofile{
    /* border:1px solid black; */
    display:flex;
    flex-direction: column-reverse;
    background-color: rgb(117, 152, 241);
    height:91.3vh;
    width: 100%;
}

#messagesection{
    background-color: rgb(117, 152, 241);
    color:white;
    width:100%;
}
#messagesectionoff{
    /* display:none; */
    background-color: rgb(117, 152, 241);
    color:white;
    width:100%;
}

/* OpenChat */
#allmessages{
    padding-bottom:10px;
    padding-right:20px;
    padding-left:20px;
    display:flex;
    flex-direction: column-reverse;
    gap:50px;
    overflow: auto;
}
#allmessages::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.message{
    padding-left:1vw;
    padding-right:1vw;
    font-size: 16px;
    max-width:350px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
}
.receivedmessage .message{
    background-color: rgb(216, 216, 216);
    color:black;

}
.sentmessage .message{
    background-color: rgb(139, 255, 123);
    color:black;

}
.chatitem{
  display: flex;
  flex-direction: column;
  border-top:1px solid lightgrey;
  background-color: #f3f3f3;
  overflow: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.chatitem:hover{
    background-color:rgb(218, 218, 217);
}
.chatitem-selected{
    display: flex;
    flex-direction: column;
    border-left:5px solid grey;
    background-color: rgb(179, 179, 179);
    overflow: auto ;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#nochats{
    border-top:1px solid lightgrey;
    padding-top:10px;
    text-align: center;
}
#linkstuff{
    display:flex;
    font-size: 16px;
    align-items: center;
}
#lettercircle{
    font-size: 20px;
    padding-top:15px;
    padding-bottom:15px;
    width: 15px;
    margin-right:30px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 50%;
    background-color: lightgrey;
}
#messageinfo{
    display: flex;
    flex-direction: column;
}
#messagetime{
    display: flex;
    margin-bottom: -10px;
    font-size: 14px;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    text-align: right;
    gap:10px;
    color:white;
}
#messagetimeleft{
    display: flex;
    margin-bottom: -10px;
    font-size: 14px;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: right;
    gap:10px;
    color:white;
}
#time{
    font-size: 12px;
    opacity:50%;
}

.sentmessage{
    display:flex;
    justify-content: right;
}
.receivedmessage{
    display:flex;
    justify-content: left;
}
#formcont{
    margin-top:5vh;
    margin-bottom: 5vh;
    display:flex;
    justify-content: center;
}
#messageform{
    display:flex;
    gap:20px;
}
#messagesubmit{
    border:none;
    border-radius: 50%;
    padding-left:10px;
    background-color: rgb(117, 152, 241);
}
#messagesubmit:hover{
    /* background-color: ; */
    background-color: rgb(101, 138, 233);

}
#entermessage{
    border-radius: 20px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;

    border:none;
    box-shadow: .5px 5px 10px .05px grey;
    
    font-size: 24px;
    width:40vw;
    align-items: center;
}
#entermessage:focus{
    outline:none;
}
#loadcont{
    /* border:1px solid black; */
    background-color: white;;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:none;
}
.loaderchats{
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid rgb(122, 56, 56); /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
.loadermessages{
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #606060; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media screen and (max-width:750px){

    #homepagecont{
        /* border-top: 1px solid black; */
        display:flex;
        flex-direction: column;
        /* width: 100vw; */
        max-height: 100%;
        overflow: auto;
        -ms-overflow-style: none;  
        scrollbar-width: none;  
    }
    /* make this display toggleable */
    #chatscont{
        /* border-right: 1px solid lightgrey; */
        /* background-color: green; */
        /* width:30vw; */
        width: 100vw;
        height: 100%;
        /* max-height: 100vh; */
        overflow: auto;
        -ms-overflow-style: none;  
         scrollbar-width: none;  
    }
    #chatscontoff{
        display:none;
        width: 100vw;
        height: 100%;
        /* max-height: 100vh; */
        overflow: auto;
        -ms-overflow-style: none;  
         scrollbar-width: none;  
    }
    /* #nochatopen{
        display:none;

        height:500px;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
    } */
    /* make this display toggleable */
    #messagesection{
        /* display:none; */
        height: 100%;
        /* border:1px solid green; */
        background-color: rgb(117, 152, 241);
        color:white;
        width:100%;
    }
    #messagesectionoff{
        display:none;
        background-color: rgb(117, 152, 241);
        color:white;
        width:100%;
    }


    /* openchat */
    #backbutton{
        /* border:1px solid blue; */
        /* text-align: center; */
        display: flex;
        align-items: center;
        /* font-size: 32px; */
        padding-right:40px;
        color:black;
    }
    #openchatcont{
        /* border:5px solid green; */
        max-height: 100%;
        /* overflow: hidden; */
        /* height: 100%; */
    }
    #allmessages{
        /* max-height: 70%; */
        max-height: 620px;
        /* max-height: 1200px; */

        /* border:1px solid blue; */
        padding-bottom:5px;
        padding-right:10px;
        padding-left:10px;
        display:flex;
        flex-direction: column-reverse;
        gap:20px;
        overflow: auto;
    }
    .message{
        padding-left:1vw;
        padding-right:1vw;
        font-size: 12px;
        max-width:150px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 5px;
    }
    .receivedmessage .message{
        background-color: rgb(216, 216, 216);
        color:black;
    
    }
    .sentmessage .message{
        background-color: rgb(139, 255, 123);
        color:black;
    
    }
    #entermessage{
        border-radius: 10px;
        padding-left:10px;
        padding-right:10px;
        padding-top:5px;
        padding-bottom:5px;
    
        border:none;
        box-shadow: .5px 5px 10px .05px grey;
        
        font-size: 16px;
        width:200px;
        align-items: center;
    }
    .messagescont{
        /* border:1px solid cyan; */
        display:flex;
        flex-direction: column-reverse;
        background-color: rgb(117, 152, 241);
        /* height:91.3%; */
        padding-top:-10px;

        /* max-height: 520px; */
        /* height: 520px; */
        max-height: 80vh;
        max-width: 100%;
    }
    .messagescontprofile{
        /* border:1px solid cyan; */
        display:flex;
        flex-direction: column-reverse;
        background-color: rgb(117, 152, 241);
        /* height:91.3%; */
        padding-top:-10px;
        max-height: 520px;
        /* height: 520px; */
        /* max-height: 80vh; */
        max-width: 100%;
    }
    #linkcont{
        /* border:1px solid yellow; */
        background-color: white;
        display:flex;
        justify-content: center;
        /* margin-bottom:-50px; */
    }
    


}