#menucont{
    height: 100vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}
#menuoptions{
    display:flex;
}
.menuitem{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-decoration:none ; */
    /* background-color: linear-gradient(to right, rgb(51, 53, 60)50%, white 50%); */
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out; 
    -webkit-transition: all .3s ease-out; 
    -o-transition: all .3s ease-out; 
    /* background-size: 200% 100%;
    background-position: right bottom; */
    border:1px solid black;
    height:70vh;
    width:25vw;
}
.menuitem:hover{
    /* background-position: left bottom ; */
    background-color: rgb(51, 53, 60);
    color:white;
}
.menulink{
    /* border:1px solid black;  */
    background-image: linear-gradient(to right, rgb(51, 53, 60)50%, white 50%);
    /* transition: all .5s ease-out; */

    background-size: 200% 100%;
    background-position: right bottom;
    font-size:30px;
    text-decoration:none;
    color:black;
}
/* .menulink:hover{
    background-position: left bottom ;
    color:white;
} */
#profilemenu{
    text-decoration: none;
    color:black;
}

@media screen and (max-width:750px){

    .menuitem{
        display: flex;
        justify-content: center;
        align-items: center;
        /* text-decoration:none ; */
        /* background-color: linear-gradient(to right, rgb(51, 53, 60)50%, white 50%); */
        transition: all .3s ease-out;
        -moz-transition: all .3s ease-out; 
        -webkit-transition: all .3s ease-out; 
        -o-transition: all .3s ease-out; 
        /* background-size: 200% 100%;
        background-position: right bottom; */
        border:1px solid black;
        height:50vh;
        width:25vw;
    }
    
}